<div class="challan-container">
  <h2 class="text-center text-2xl font-bold">National Bank of Pakistan</h2>
  <div class="item-end flex flex-row justify-end font-bold">CENTRAL</div>
  <div class="mt-4 grid grid-cols-3">
    <!-- Column 1 -->
    <div class="col-span-1 border border-black p-5">
      <p>Challan of cash paid into Challan
        No: <span class="font-bold">{{this.SelectedApplication?.application?.challans[0]?.challan_number}}</span> </p>

    </div>

    <!-- Column 2 -->
    <div class="col-span-1 border-t border-b border-black p-5">
      <p>Treasury/Sub Treasury National Bank of Pakistan State Bank of Pakistan.</p>
    </div>

    <!-- Column 3 -->
    <div class="col-span-1 border border-black p-5">
      <p>Form No.32</p>
    </div>
  </div>

  <div class="grid grid-cols-4">
    <!-- Column 1 -->
    <div class="grid grid-rows-1">
      <div class="row-span-1 border-b border-r border-l border-black">
        <p class="border-b border-black p-5">By whom Tender</p>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="col-span-1">
      <div class="grid grid-rows-1">
        <div class="row-span-1">
          <p class="p-5">To be filled in by the remitters</p>
        </div>
        <div class="row-span-1 grid grid-cols-2">
          <div class="col-span-1 border-t border-b border-black">
            <p class="p-5">Name or designation and address of the person of who’s behalf money is paid</p>
          </div>
          <div class="black col-span-1 border-t border-l border-black">
            <p class="p-5">Full particulars of the remittance and of authority (if any)</p>
          </div>
        </div>
        <div class="row-span-1 grid grid-cols-2">
          <div class="col-span-1 border-b border-black p-5">
            <p class="font-bold">Controller, Deptt of Tourist Services, Islamabad.</p>
          </div>
          <div class="black col-span-1 border-l border-t border-b border-black">
            <div class="mt-4">
              <h3 class="text-center font-semibold">Select Relevant No.</h3>
              <ol *ngFor="let item of this.SelectedApplication?.application?.challans[0]?.challan_headers"
                class="list-decimal pl-8 text-center">

                <li>{{item.header_types.name}}</li>

              </ol>
            </div>
          </div>
        </div>
        <div class="row-span-1 grid grid-cols-2">
          <div class="col-span-1 border-b border-black">
            <p>.</p>
          </div>

          <div class="col-span-1 border-b border-l border-black">
            <p class="pr-3 text-right">Total</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Column 3 -->
    <div class="col-span-1 border-b border-l border-black">
      <div class="flex h-full flex-col justify-between">
        <div class="border-b border-black">
          <p class="p-5">Amount :<span
              class="font-bold">{{this.SelectedApplication?.application?.challans[0]?.total_amount}}</span> Rupees </p>
        </div>

        <div class="border-t border-black">
          <p class=""><span
              class="font-bold">{{this.SelectedApplication?.application?.challans[0]?.total_amount}}</span> Rupees</p>
        </div>
      </div>
    </div>

    <!-- Column 4 -->
    <div class="col-span-1 border-b border-r border-l border-black">
      <div class="grid grid-rows-1">
        <div class="row-span-1 border-b border-black">
          <p class="p-5">To be filled by the Department officer or the Treasury</p>
        </div>

        <!--  -->
        <div class="grid grid-rows-1">
          <div class="row-span-1 grid grid-cols-2">
            <div class="col-span-1 border-b border-black">
              <p class="p-5">Head of Account</p>
            </div>
            <div class="black col-span-1 border-l border-black">
              <p class="p-5">Order of the Bank</p>
            </div>
          </div>
          <div class="row-span-1 grid grid-cols-2">
            <div class="col-span-1 border-b border-black p-5">
              <p class="font-bold">C03821- RECEIPTS OF TOURIST DEPTT.</p>
            </div>
            <div class="black col-span-1 border-l border-t border-b border-black">
              <div class="mt-4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-span-12 border-b border-r border-l border-black">
      <div class="grid grid-rows-1">
        <div class="row-span-1 border-black">
          <p class="p-5">In words Rupees:</p>
        </div>
        <!--  -->
      </div>
    </div>

    <div class="col-span-12 border-b border-r border-l border-black">
      <!--  -->
      <div class="grid grid-rows-1">
        <div class="grid grid-cols-12">
          <div class="col-span-4 border-black">
            <p class="p-5">in words Rupees. Received payment Treasury/Officer Signature`<br /><br /></p>
          </div>
          <div class="black col-span-4 border-l border-black">
            <p class="p-5">Agent/Manager Date</p>
          </div>
          <div class="black col-span-4 border-l border-black">
            <p class="p-5">
              To be used only in the case of remittances to bank through an officer of the Government.<br /><br />
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Data Rows -->
  </div>
</div>