<p>hotel-create works!</p>
<p-toast></p-toast>

<div class="px-10 py-10">
    <div class="text-xl font-semibold text-black">Hotel Registration Form</div>

    <!-- Add this step indicator section to your template -->
    <!-- <div class="step-indicator">
        <div class="step">
            <div class="step-circle" [class.active]="currentStep === 1">1</div>
        </div>
        <div class="step-line w-[20px]"></div>
        <div class="step">
            <div class="step-circle" [class.active]="currentStep === 2">2</div>
        </div>
    </div> -->

    <div class="grid">
        <form *ngIf="currentStep === 1" [formGroup]="step1Form">
            <div>
                <h2 class="mt-4 text-lg font-normal heading-label">Name:</h2>
                <div class="form-group grid-cols-12 grid gap-5 px-5">
                    <div class="col-span-3">
                        <label class="text-base" for="name">Resturant Name:</label>
                        <input type="text" id="name" formControlName="person_name" />
                        <div class="text-sm text-red-600"
                            *ngIf="step1Form.get('person_name')?.hasError('required') && step1Form.get('person_name')?.touched">
                            Name is required.
                        </div>
                    </div>
                    <div class="col-span-3">
                        <input type="checkbox" id="is_hotel" formControlName="is_hotel" />

                        <label class="text-base" for="is_hotel">Is Hotel Attached :</label>


                    </div>
                    <div class="col-span-3">
                        <label class="text-base" for="email">Email:</label><br>
                        <input type="text" id="email" formControlName="email" />
                        <div class="text-sm text-red-600"
                            *ngIf="step1Form.get('email')?.hasError('required') && step1Form.get('email')?.touched">
                            Email is required.
                        </div>
                    </div>
                    <div class="col-span-3">
                        <label class="text-base" for="establishment_year">Establishment Year:</label>
                        <p-calendar class="w-full" formControlName="establishment_year"></p-calendar>
                        <div class="text-sm text-red-600"
                            *ngIf="step1Form.get('establishment_year')?.hasError('required') && step1Form.get('establishment_year')?.touched">
                            Establishment Date and Year is required.
                        </div>
                    </div>
                    <div class="col-span-3">
                        <label class="text-base" for="commission_date">commission Date:</label>
                        <p-calendar class="w-full" formControlName="commission_date"></p-calendar>
                        <div class="text-sm text-red-600"
                            *ngIf="step1Form.get('commission_date')?.hasError('required') && step1Form.get('commission_date')?.touched">
                            Establishment Date is required.
                        </div>
                    </div>
                    <div class="col-span-8 ">
                        <label for="registration_certificate">Please attach refrence establishment year
                            registration certificate</label>
                        <input type="file" id="registration_certificate" formControlName="registration_certificate"
                            (change)="onImageChange($event, 'registration_certificate')" />
                        <!-- <div *ngIf="step2Form.get('registration_certificate')?.hasError('required')" class="text-danger">Image is required.</div> -->
                        <div *ngIf="step1Form.get('registration_certificate')?.hasError('required') && step1Form.get('registration_certificate')?.touched"
                            class="text-danger text-sm text-red-600">
                            Establishment year
                            registration certificate is required.
                        </div>
                        <div *ngIf="step1Form.get('registration_certificate')?.hasError('validImage') "
                            class="text-danger">
                            Invalid image format. Supported formats: jpg, jpeg, png, gif.
                        </div>
                    </div>
                </div>
            </div>


            <div>
                <h2 class="mt-4 text-lg font-normal heading-label">Addresses</h2>
                <div>

                    <div class="grid grid-cols-12 gap-5 px-5 justify-center justify-items-center place-items-center   ">
                        <div class="form-group col-span-2 items-center ">
                            <label for="town mx-5">Town </label>
                            <input type="text" id="town mx-5" formControlName="town" />
                            <div class="text-sm text-red-600"
                                *ngIf="step1Form.get('town')?.hasError('required') && step1Form.get('town')?.touched">
                                Town is required.
                            </div>
                        </div>

                        <div class="form-group col-span-4">
                            <label for="street">Street </label>
                            <input type="text" id="street" formControlName="street" />
                            <div class="text-sm text-red-600"
                                *ngIf="step1Form.get('street')?.hasError('required') && step1Form.get('street')?.touched">
                                Street is required.
                            </div>
                        </div>


                        <div class="form-group col-span-4">
                            <label for="complete_address">Complete Address </label>
                            <input type="text" id="complete_address" formControlName="complete_address" />
                            <div class="text-sm text-red-600"
                                *ngIf="step1Form.get('complete_address')?.hasError('required') && step1Form.get('complete_address')?.touched">
                                Complete address is required.
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <div>
                <h2 class="mt-4 text-lg font-normal heading-label">Telephone number</h2>
                <div class="form-group grid grid-cols-12 gap-5 px-5">
                    <div class="form-group col-span-4 my-2">
                        <label for="telegraphic_address">Telegraphic Address</label>
                        <input type="text" id="telegraphic_address" formControlName="telegraphic_address" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('telegraphic_address')?.hasError('required') && step1Form.get('telegraphic_address')?.touched
              ">
                            Telegraphic Address is required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="telex_number">Telex Number </label>
                        <input type="text" id="telex_number" formControlName="telex_number" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('telex_number')?.hasError('required') &&
                step1Form.get('telex_number')?.touched
              ">
                            Telex lines is required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="telephone_no">Telephone Number</label>
                        <input type="tel" id="telephone_no" formControlName="telephone_no" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('telephone_no')?.hasError('required') && step1Form.get('telephone_no')?.touched
              ">
                            Telephone number is required.
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <h2 class="mt-4 text-lg font-normal heading-label">Please give the following details</h2>
                <div class="grid grid-cols-12 gap-5 px-5">
                    <div class="col-span-4 my-2">
                        <div class="form-group">
                            <label for="area">Area of the Resturant</label>
                            <input type="number" id="area" formControlName="area" />
                            <div class="text-sm text-red-600" *ngIf="
                  step1Form.get('area')?.hasError('required') &&
                  step1Form.get('area')?.touched
                ">
                                NTN number is required.
                            </div>
                            <div class="text-sm text-red-600" *ngIf="
                            step1Form.get('area')?.hasError('validNumber') &&
                            step1Form.get('area')?.touched
                          ">
                                Please enter a valid number..
                            </div>
                        </div>
                    </div>
                    <div class="col-span-4 my-2">
                        <div class="form-group">
                            <label for="kitchen_area">Kitchen Area of Resturant</label>
                            <input type="number" id="kitchen_area" formControlName="kitchen_area" />
                            <div class="text-sm text-red-600" *ngIf="
                  step1Form.get('kitchen_area')?.hasError('required') &&
                  step1Form.get('kitchen_area')?.touched
                ">
                                NTN number is required.
                            </div>
                            <div class="text-sm text-red-600" *ngIf="
                            step1Form.get('kitchen_area')?.hasError('validNumber') &&
                            step1Form.get('kitchen_area')?.touched
                          ">
                                Please enter a valid number..
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="pantry_area"> Pantry area of Resturant</label>
                        <input type="number" id="pantry_area" formControlName="pantry_area" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('pantry_area')?.hasError('required') && step1Form.get('pantry_area')?.touched
              ">
                            Please tell us pantry area of resturant is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('pantry_area')?.hasError('validNumber') &&
                        step1Form.get('pantry_area')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="dining_hall_area"> Dining Hall area of Resturant</label>
                        <input type="number" id="dining_hall_area" formControlName="dining_hall_area" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('dining_hall_area')?.hasError('required') && step1Form.get('dining_hall_area')?.touched
              ">
                            Please tell us pantry area of resturant is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('dining_hall_area')?.hasError('validNumber') &&
                        step1Form.get('dining_hall_area')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="dining_hall_seating"> Dining Hall Seating of Hotel</label>
                        <input type="number" id="dining_hall_seating" formControlName="dining_hall_seating" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('dining_hall_seating')?.hasError('required') && step1Form.get('dining_hall_seating')?.touched
              ">
                            Please tell us pantry area of resturant is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('dining_hall_seating')?.hasError('validNumber') &&
                        step1Form.get('dining_hall_seating')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>

                    <div class="form-group col-span-4 my-2">
                        <label for="annual_rent_cost"> Annual Rent cost of Resturant</label>
                        <input type="number" id="annual_rent_cost" formControlName="annual_rent_cost" />
                        <div class="text-sm text-red-600" *ngIf="
                step1Form.get('annual_rent_cost')?.hasError('required') && step1Form.get('annual_rent_cost')?.touched
              ">
                            Please tell us dining hall seating capacity of resturant is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('annual_rent_cost')?.hasError('validNumber') &&
                        step1Form.get('annual_rent_cost')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>

                    <div class="form-group col-span-4 my-2">
                        <label for="bulding_cost">Building cost of hotel</label>
                        <input type="number" id="bulding_cost" formControlName="bulding_cost" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('bulding_cost')?.hasError('required') && step1Form.get('bulding_cost')?.touched
                      ">
                            Your Building cost of hotel details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('bulding_cost')?.hasError('validNumber') &&
                        step1Form.get('bulding_cost')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>

                    <div class="form-group col-span-4 my-2">
                        <label for="furniture_cost">Total Furniture cost in hotel</label>
                        <input type="number" id="furniture_cost" formControlName="furniture_cost" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('furniture_cost')?.hasError('required') && step1Form.get('furniture_cost')?.touched
                      ">
                            Your Total Furniture cost in hotel details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('furniture_cost')?.hasError('validNumber') &&
                        step1Form.get('furniture_cost')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="equipment_cost">Total Equipment Cost in Hotel</label>
                        <input type="number" id="equipment_cost" formControlName="equipment_cost" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('equipment_cost')?.hasError('required') && step1Form.get('equipment_cost')?.touched
                      ">
                            Your Equipment Cost in Hotel details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('equipment_cost')?.hasError('validNumber') &&
                        step1Form.get('equipment_cost')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="working_capital">Working Capital of Hotel</label>
                        <input type="number" id="working_capital" formControlName="working_capital" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('working_capital')?.hasError('required') && step1Form.get('working_capital')?.touched
                      ">
                            Your Working Capital details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('working_capital')?.hasError('validNumber') &&
                        step1Form.get('working_capital')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>


                    <div class="form-group col-span-4 my-2">
                        <label for="total_investment">Total investment</label>
                        <input type="number" id="total_investment" formControlName="total_investment" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('total_investment')?.hasError('required') && step1Form.get('total_investment')?.touched
                      ">
                            Your Total investment details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('total_investment')?.hasError('validNumber') &&
                        step1Form.get('total_investment')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>

                    <div class="form-group col-span-4 my-2">

                        <input type="checkbox" class="mx-2" id="is_foreigner_guest"
                            formControlName="is_foreigner_guest" />
                        <label for="is_foreigner_guest">Is Hotel for foreigner guest
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_foreigner_guest')?.hasError('required') && step1Form.get('is_foreigner_guest')?.touched
                      ">
                            Is Hotel for foreigner guest is required.
                        </div>
                    </div>


                    <div class="form-group col-span-4 my-2">
                        <label for="cuisine_type"> Cuisine types offered in hotel
                        </label>
                        <input type="text" class="mx-2" id="cuisine_type" formControlName="cuisine_type" />

                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('cuisine_type')?.hasError('required') && step1Form.get('cuisine_type')?.touched
                      ">
                            Cuisine type in hotel is required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="cuisine_type"> Classification Desired of Hotel
                        </label>
                        <input type="text" class="mx-2" id="classification_desired"
                            formControlName="classification_desired" />

                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('classification_desired')?.hasError('required') && step1Form.get('is_deal_with_foreign_agency')?.touched
                      ">
                            Classification Desired is required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="before_january_rate"> Before january rates in yout hotels
                        </label>
                        <input type="number" class="mx-2" id="before_january_rate"
                            formControlName="before_january_rate" />

                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('before_january_rate')?.hasError('required') && step1Form.get('is_deal_with_foreign_agency')?.touched
                      ">
                            Before january rates is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('before_january_rate')?.hasError('validNumber') &&
                        step1Form.get('before_january_rate')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="present_rate"> Present rates
                        </label>
                        <input type="number" class="mx-2" id="present_rate" formControlName="present_rate" />

                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('present_rate')?.hasError('required') && step1Form.get('is_deal_with_foreign_agency')?.touched
                      ">
                            Present rates is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('present_rate')?.hasError('validNumber') &&
                        step1Form.get('present_rate')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="province_id">Province</label>
                        <select id="province_id" formControlName="province_id">
                            <option *ngFor="let Province_types of Province_types" [value]="Province_types.id">{{
                                Province_types.name }}
                            </option>
                        </select>

                        <!-- <input type="text" id="province_id" formControlName="province_id" /> -->
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('province_id')?.hasError('required') && step1Form.get('province_id')?.touched
                      ">
                            Province are required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="cities">City</label>
                        <select id="cities" formControlName="city_id">
                            <option *ngFor="let cities of cities?.data" [value]="cities.id">{{
                                cities.name }}
                            </option>
                        </select>

                        <!-- <input type="text" id="cities" formControlName="cities" /> -->
                        <div class="text-sm text-red-600" *ngIf="
                                step1Form.get('cities')?.hasError('required') && step1Form.get('cities')?.touched
                              ">
                            City are required.
                        </div>
                    </div>
                    <div class="form-group col-span-4">
                        <label for="ownership_nature_type_id">Ownership Type</label>
                        <select id="ownership_nature_type_id" formControlName="ownership_nature_type_id">
                            <option *ngFor="let ownershipTypes of ownershipTypes" [value]="ownershipTypes.id">{{
                                ownershipTypes.name }}
                            </option>
                        </select>
                        <div class="text-sm text-red-600" *ngIf="
                                    step1Form.get('ownership_nature_type_id')?.hasError('required') &&
                                    step1Form.get('ownership_nature_type_id')?.touched
                                  ">
                            OwnerShip Details are required.
                        </div>
                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="cuisine_type"> No of Cloak rooms in Hotel
                        </label>
                        <input type="text" class="mx-2" id="cloak_room" formControlName="cloak_room" />

                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('cloak_room')?.hasError('required') && step1Form.get('cloak_room')?.touched
                      ">
                            No of Cloak rooms in Hotel is required.
                        </div>
                    </div>



                    <!-- ///////////////////////// -->














                    <div class="form-group col-span-4 my-2">
                        <label for="present_date">Present date</label><br>
                        <p-calendar class="w-full" formControlName="present_date"></p-calendar>

                        <!-- <input type="text" id="present_date" formControlName="present_date" /> -->
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('present_date')?.hasError('required') && step1Form.get('present_date')?.touched
                      ">
                            Your Present date details is required.
                        </div>
                    </div>





                    <div class="form-group col-span-4 my-2">
                        <label for="car_park_capacity">Car parkING capacity</label>
                        <input type="number" id="car_park_capacity" formControlName="car_park_capacity" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('car_park_capacity')?.hasError('required') && step1Form.get('car_park_capacity')?.touched
                      ">
                            Your Car parking capacity details is required.
                        </div>

                    </div>
                    <div class="form-group col-span-4 my-2">
                        <label for="common_toilets">No of common toilets</label>
                        <input type="number" id="common_toilets" formControlName="common_toilets" />
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('common_toilets')?.hasError('required') && step1Form.get('common_toilets')?.touched
                      ">
                            No of common toilets details is required.
                        </div>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('common_toilets')?.hasError('validNumber') &&
                        step1Form.get('common_toilets')?.touched
                      ">
                            Please enter a valid number..
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_tel_room" formControlName="is_tel_room" />
                        <label for="cuisine_type"> is_tel_room
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_tel_room')?.hasError('required') && step1Form.get('is_tel_room')?.touched
                      ">
                            is_tel_room is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_reception" formControlName="is_reception" />
                        <label for="is_reception"> is_reception
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_reception')?.hasError('required') && step1Form.get('is_reception')?.touched
                      ">
                            Reception Details is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_heating" formControlName="is_heating" />
                        <label for="is_heating"> Is any heating service
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_heating')?.hasError('required') && step1Form.get('is_heating')?.touched
                      ">
                            Heating Details is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_ac" formControlName="is_ac" />
                        <label for="is_ac"> Is any AC service
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_ac')?.hasError('required') && step1Form.get('is_ac')?.touched
                      ">
                            Heating Details is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_locker" formControlName="is_locker" />
                        <label for="is_locker"> Is any Locker service
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_locker')?.hasError('required') && step1Form.get('is_locker')?.touched
                      ">
                            Locker Details is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_ac" formControlName="is_ac" />
                        <label for="is_ac"> is_ac
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_ac')?.hasError('required') && step1Form.get('is_ac')?.touched
                      ">
                            AC Service is required.
                        </div>
                    </div>
                    <div class="form-group col-span-3 my-2">

                        <input type="checkbox" class="mx-2" id="is_entertainment" formControlName="is_entertainment" />
                        <label for="is_entertainment"> Is any entertainment
                        </label>
                        <div class="text-sm text-red-600" *ngIf="
                        step1Form.get('is_entertainment')?.hasError('required') && step1Form.get('is_entertainment')?.touched
                      ">
                            is_entertainment is required.
                        </div>
                    </div>



                    <!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm -->

                </div>
            </div>

            <h2 class="mt-4 text-lg font-normal heading-label">Employees Details</h2>
            <div class="grid grid-cols-12 gap-5 justify-center justify-items-center place-items-center">

                <div class="col-span-2 my-2">
                    <label for="employee_full_name">Category </label>

                </div>
                <div class="col-span-1 my-2 ">
                    <label for="is_top_management mx-5">
                        Top Management</label>

                </div>
                <div class="col-span-1 my-2 ">
                    <label for="total_employee mx-5">Total
                        number</label>

                </div>
                <div class="col-span-2 my-2">
                    <label for="employee_category_type_id">No. of Professional
                    </label>

                </div>
                <div class="col-span-2 my-2">
                    <label for="name">No. of Unprofessional</label>
                </div>
                <div class="col-span-1 my-2">
                    <label for="name">Apprentices</label>
                </div>
                <div class="col-span-2 my-2">
                    <label for="name">No. English
                        Knowledge</label>
                </div>
            </div>
            <div formArrayName="employees_details">
                <div *ngFor="let employee of employeeArray.controls; let i = index">
                    <div [formGroupName]="i" class="grid grid-cols-12 gap-5">

                        <div class="col-span-2 my-2">
                            <select id="employee_category_type_id" formControlName="employee_category_type_id">
                                <option *ngFor="let employeecategories of employeecategories?.data"
                                    [value]="employeecategories.id">{{
                                    employeecategories.name }}
                                </option>
                            </select>
                            <div class="text-sm text-red-600" *ngIf="
                                        step1Form.get('employee_category_type_id')?.hasError('required') &&
                                        step1Form.get('employee_category_type_id')?.touched
                                      ">
                                employeecategories are required.
                            </div>

                        </div>
                        <div class="col-span-1 my-2 ">
                            <input type="checkbox" class="mx-5" formControlName="is_top_management" />
                        </div>
                        <div class="col-span-1 my-2 ">
                            <input type="number" class="mx-5" formControlName="total_employee" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <input type="number" class="mx-5" formControlName="total_employee_professional" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <input type="number" class="mx-5" formControlName="total_employee_nonprofessional" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <input type="number" class="mx-5" formControlName="total_employee_apprentices" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <input type="number" class="mx-5" formControlName="total_employee_english" />
                        </div>


                        <div *ngIf="i > 0" class="col-span-1 my-2">
                            <button class="rounded-sm border bg-green-400 px-5 py-3 hover:bg-white" type="button"
                                (click)="removeEmployee(i)">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 flex flex-row items-end justify-end">
                <button class="rounded-sm border bg-green-400 px-5 py-3 text-sm hover:bg-white" type="button"
                    (click)="addEmployee()">
                    Add Staff/Employee Details.
                </button>
            </div>

            <h2 class="mt-4 text-lg font-normal heading-label">Owner Details</h2>
            <div formArrayName="Owner_details">
                <div *ngFor="let owner of ownersArray.controls; let i = index">
                    <div [formGroupName]="i" class="grid grid-cols-12 gap-5">

                        <div class="col-span-2 my-2">
                            <label for="wner_type_id">Owner Type </label>

                            <select id="owner_type_id" formControlName="owner_type_id">
                                <option *ngFor="let ownertypes of ownertypes?.data" [value]="ownertypes.id">{{
                                    ownertypes.name }}
                                </option>
                            </select>
                            <div class="text-sm text-red-600" *ngIf="
                                        step1Form.get('owner_type_id')?.hasError('required') &&
                                        step1Form.get('owner_type_id')?.touched
                                      ">
                                employeecategories are required.
                            </div>

                        </div>
                        <div class="col-span-2 my-2 ">
                            <label for="owner_name">Owner Name </label>

                            <input type="text" class="mx-5" formControlName="owner_name" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <label for="employee_full_name">OwnerShip Percentage </label>

                            <input type="number" class="mx-5" formControlName="percentage" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <label for="telephone">Telephone Number </label>

                            <input type="number" class="mx-5" formControlName="telephone" />
                        </div>
                        <div class="col-span-2 my-2 ">
                            <label for="telephonic_address">Telephonic address </label>

                            <input type="text" class="mx-5" formControlName="telephonic_address" />
                        </div>

                        <div class="col-span-2 my-2 ">
                            <label for="full_address">Complete Address </label>

                            <input type="text" class="mx-5" formControlName="full_address" />
                        </div>


                        <div *ngIf="i > 0" class="col-span-1 my-2">
                            <button class="rounded-sm border bg-green-400 px-5 py-3 hover:bg-white" type="button"
                                (click)="remove_new_owner(i)">
                                Remove
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 flex flex-row items-end justify-end">
                <button class="rounded-sm border bg-green-400 px-5 py-3 text-sm hover:bg-white" type="button"
                    (click)="add_new_Ownwer()">
                    Add Owner Details
                </button>
            </div>

            <div>
                <h2 class="mt-4 text-lg font-normal heading-label">Please give the following details</h2>
                <div class="grid grid-cols-12 gap-5 px-5">






















                    <!-- mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm -->

                </div>
            </div>












            <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->


        </form>

        <!-- <form *ngIf="currentStep === 2" [formGroup]="step2Form" (ngSubmit)="onSubmit()"> -->
        <form [formGroup]="step2Form" (ngSubmit)="onSubmit()">









            <h2 class="mt-4 text-lg font-normal heading-label"> Upload Documents</h2>
            <div class="grid grid-cols-12 gap-5 px-5">
                <div class="col-span-4 my-2 ">
                    <label for="medical_fitness_of_employee">Medical Fitness Certificate of each employee on the
                        prescribed Form-I from a
                        Registered Medical Practitioner </label><br />
                    <input type="file" id="medical_fitness_of_employee" formControlName="medical_fitness_of_employee"
                        (change)="onImageChange($event, 'medical_fitness_of_employee')" />
                    <div *ngIf="step2Form.get('medical_fitness_of_employee')?.hasError('required') && step2Form.get('medical_fitness_of_employee')?.touched"
                        class="text-danger text-sm text-red-600">
                        medical_fitness_of_employee is required.
                    </div>
                    <div *ngIf="step2Form.get('medical_fitness_of_employee')?.hasError('validImage')"
                        class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>
                <div class="col-span-4 my-2 ">
                    <label for="proof_of_ownership">Proof of Ownership </label><br />
                    <input type="file" id="proof_of_ownership" formControlName="proof_of_ownership"
                        (change)="onImageChange($event, 'proof_of_ownership')" />
                    <div *ngIf="step2Form.get('proof_of_ownership')?.hasError('required') && step2Form.get('proof_of_ownership')?.touched"
                        class="text-danger text-sm text-red-600">
                        proof_of_ownership is required.
                    </div>
                    <div *ngIf="step2Form.get('proof_of_ownership')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>
                <div class="col-span-4 my-2 ">
                    <label for="building_plan">Building Plan of Hotel or Restaurant </label><br />
                    <input type="file" id="building_plan" formControlName="building_plan"
                        (change)="onImageChange($event, 'building_plan')" />
                    <div *ngIf="step2Form.get('building_plan')?.hasError('required') && step2Form.get('building_plan')?.touched"
                        class="text-danger text-sm text-red-600">
                        building_plan is required.
                    </div>
                    <div *ngIf="step2Form.get('building_plan')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>
                <div class="col-span-4 my-2 ">
                    <label for="room_rates">Room rates /copy of Menu Card or rate list. </label><br />
                    <input type="file" id="room_rates" formControlName="room_rates"
                        (change)="onImageChange($event, 'room_rates')" />
                    <div *ngIf="step2Form.get('room_rates')?.hasError('required') && step2Form.get('room_rates')?.touched"
                        class="text-danger text-sm text-red-600">
                        room_rates is required.
                    </div>
                    <div *ngIf="step2Form.get('room_rates')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>

                <div class="col-span-4 my-2 ">
                    <label for="cnic_of_all_employees">Copy of NIC of the Proprietor/Partners//Directors/Chief
                        Executive/General
                        Manager.</label><br />
                    <input type="file" id="cnic_of_all_employees" formControlName="cnic_of_all_employees"
                        (change)="onImageChange($event, 'cnic_of_all_employees')" />
                    <!-- <div *ngIf="step2Form.get('cnic_of_all_employees')?.hasError('required')" class="text-danger">Image is required.</div> -->
                    <div *ngIf="step2Form.get('cnic_of_all_employees')?.hasError('required') && step2Form.get('cnic_of_all_employees')?.touched"
                        class="text-danger text-sm text-red-600">
                        bank capital certificate is required.
                    </div>
                    <div *ngIf="step2Form.get('cnic_of_all_employees')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif,pdf.
                    </div>
                </div>

                <div class="col-span-4 my-2">
                    <label for="lease_agreement">Attested copies of Lease Agreement /Proof of Ownership of
                        Hotel/Restaurant
                        premises.</label><br />
                    <div *ngIf="step2Form.get('lease_agreement')?.hasError('required') && step2Form.get('lease_agreement')?.touched"
                        class="text-danger text-sm text-red-600">
                        lease agreement is required.
                    </div>
                    <input type="file" id="lease_agreement" formControlName="lease_agreement"
                        (change)="onImageChange($event, 'lease_agreement')" />
                    <!-- <div *ngIf="step2Form.get('lease_agreement')?.hasError('required')" class="text-danger">Image is required.</div> -->
                    <div *ngIf="step2Form.get('lease_agreement')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>

                <div class="col-span-4 my-2">
                    <label for="partmentship_deed_certificate">In case of a Partnership Firm attested copies of
                        Registration Certificate and
                        Partnership Deed duly certified by the Registrar of Firms</label><br />
                    <input type="file" id="partmentship_deed_certificate"
                        formControlName="partmentship_deed_certificate"
                        (change)="onImageChange($event, 'partmentship_deed_certificate')" />
                    <div *ngIf="step2Form.get('partmentship_deed_certificate')?.hasError('required') && step2Form.get('partmentship_deed_certificate')?.touched"
                        class="text-danger text-sm text-red-600">
                        partmentship deed certificate is required.
                    </div>
                    <div *ngIf="step2Form.get('partmentship_deed_certificate')?.hasError('validImage')"
                        class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div>
                </div>

            </div>
            <div class="col-span-4 my-2">
                <label for="incorporation_certificate">In case of a Limited Company, attested copies of
                    Incorporation Certificate.</label><br />
                <input type="file" id="incorporation_certificate" formControlName="incorporation_certificate"
                    (change)="onImageChange($event, 'incorporation_certificate')" />
                <!-- <div *ngIf="step2Form.get('incorporation_certificate')?.hasError('required')" class="text-danger">Image is required.</div> -->
                <div *ngIf="step2Form.get('incorporation_certificate')?.hasError('validImage')" class="text-danger">
                    Invalid image format. Supported formats: jpg, jpeg, png, gif.
                </div>
            </div>
            <div class="col-span-4 my-2">
                <label for="memorandum">In case of private limited company , a copy of
                    memorandum duly
                    certified by the registrar of companies.</label><br />
                <input type="file" id="memorandum" formControlName="memorandum"
                    (change)="onImageChange($event, 'memorandum')" />
                <div *ngIf="step2Form.get('memorandum')?.hasError('required') && step2Form.get('memorandum')?.touched"
                    class="text-danger text-sm text-red-600">
                    Memorandum is required.
                </div>
                <div *ngIf="step2Form.get('memorandum')?.hasError('validImage')" class="text-danger">
                    Invalid image format. Supported formats: jpg, jpeg, png, gif.
                </div>
            </div>

            <div class="col-span-4 my-2 ">
                <label for="articles_of_association">In case of a Limited Company, attested copies of Incorporation
                    Certificate,
                    Memorandum and Articles of Association, Form-A and Form –29 duly
                    certified by the Registrar of Companies.</label><br />
                <input type="file" id="articles_of_association" formControlName="articles_of_association"
                    (change)="onImageChange($event, 'articles_of_association')" />
                <!-- <div *ngIf="step2Form.get('articles_of_association')?.hasError('required')" class="text-danger">Image is required.</div> -->
                <div *ngIf="step2Form.get('articles_of_association')?.hasError('required') && step2Form.get('articles_of_association')?.touched"
                    class="text-danger text-sm text-red-600">
                    statement of foreign_exchange is required.
                </div>
                <div *ngIf="step2Form.get('articles_of_association')?.hasError('validImage')" class="text-danger">
                    Invalid image format. Supported formats: jpg, jpeg, png, gif.
                </div>
            </div>


            <!-- ////////////////////// -->














            <div class="form-group col-span-12 my-2">
                <input type="checkbox" id="is_detail_correct" formControlName="is_detail_correct" />
                <label for="is_detail_correct">I/we hereby solemnly declare that all the particulars give above
                    are correct.</label>
                <div class="text-sm text-red-600" *ngIf="
                    step2Form.get('is_detail_correct')?.hasError('required') && step2Form.get('is_detail_correct')?.touched
                  ">
                    Your details is required.
                </div>
            </div>
            <div class="form-group col-span-12 my-2">
                <input type="checkbox" id="is_abide_rules" formControlName="is_abide_rules" />

                <label for="is_abide_rules">I/we hereby solemnly declare that if a licence is granted to me/us,
                    I/We will
                    abide by the Travel Agencies Act, 1976 and the Rules made the re-under
                    the terms of the licence granted to me/us, and the code of conduct.</label>
                <div class="text-sm text-red-600" *ngIf="
                    step2Form.get('is_abide_rules')?.hasError('required') && step2Form.get('is_abide_rules')?.touched
                  ">
                    Your is_abide_rules details is required.
                </div>
            </div>


            <div class="place-item-end mr-[10%] ml-[10%] flex items-center justify-end gap-5 px-5">

                <button
                    class="mt-5 items-end rounded-sm border-none bg-[#22c55e] px-10 py-3 text-white hover:bg-[#8ebc9f]"
                    type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>