<div class="mx-auto px-4 py-4 sm:px-8 lg:container">
  <div class="mb-5 grid grid-cols-12 gap-5">
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
      <div
        class="notification_container items-start rounded-lg border border-gray-200 bg-white shadow dark:border-none dark:bg-night-700 dark:shadow-none">
        <div class="xs2:pl-[49px] xs2:py-[33px] h-[365px] items-center justify-between py-[20px] px-[20px]">
          <div class="">
            <p class="Headingtext2 dark:text-white">Notifications</p>
          </div>
          <div class="pt-2">
            <div class="my_scroll_div border-green-50">
              <div class="mb-6 flex">
                <div class="settinsfd flex flex-row justify-center p-3">
                  <img class="mr-2 h-6 w-6 rounded-full" src="../../../../../assets/avatars/avt-01.jpg"
                    alt="user photo" />
                  <span class="text12 ml-[4px] dark:text-night-200 dark:hover:bg-night-500">You have requested to please
                    <span class="text2 text-orange-400"> Verify The Palace </span> Hotel
                    for its Registration Application.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
      <div
        class="notification_container items-start rounded-lg border border-gray-200 bg-white py-[20px] pl-[20px] shadow dark:border-none dark:bg-night-700 dark:shadow-none">
        <p class="Headingtext2 dark:text-white">Number of Applications</p>
        <p-chart type="doughnut" [data]="data" width="200" height="300" [options]="options2"></p-chart>
      </div>
    </div>
    <div class="col-span-12 md:col-span-6 xl:col-span-4">
      <div
        class="notification_container h-[365px] items-start rounded-lg border border-gray-200 bg-white py-[20px] px-[20px] shadow dark:border-none dark:bg-night-600 dark:hover:bg-night-500">
        <p class="Headingtext2 dark:text-white">Progress of Application</p>
        <div class="mt-5 flex flex-row justify-between px-5">
          <div class="text-sm font-bold dark:text-gray-500">Total Applications</div>
          <div class="text-sm dark:text-gray-500">120</div>
        </div>
        <div class="card mt-7 flex flex-col gap-5 px-5">
          <div class="">
            <div class="flex flex-row justify-between">
              <div class="text-sm dark:text-gray-500">Application Submission</div>
              <div class="text-sm dark:text-gray-500">100%</div>
            </div>
            <p-progressBar color="#23C35E" [showValue]="false" class="h-[20px] text-sm" [value]="100"></p-progressBar>
          </div>
          <div>
            <div class="flex flex-row justify-between">
              <div class="text-sm dark:text-gray-500">Document Verification</div>
              <div class="text-sm dark:text-gray-500">70%</div>
            </div>
            <p-progressBar color="#23C35E" [showValue]="false" class="h-[20px] text-sm" [value]="70"></p-progressBar>
          </div>
          <div>
            <div class="flex flex-row justify-between">
              <div class="text-sm dark:text-gray-500">On-Site Verification</div>
              <div class="text-sm dark:text-gray-500">20%</div>
            </div>
            <p-progressBar color="#23C35E" [showValue]="false" class="h-[20px] text-sm" [value]="20"></p-progressBar>
          </div>
          <div>
            <div class="flex flex-row justify-between">
              <div class="text-sm dark:text-gray-500">Overall Progress</div>
              <div class="text-sm dark:text-gray-500">0%</div>
            </div>
            <p-progressBar color="#23C35E" [showValue]="false" class="h-[20px] text-sm" [value]="0"></p-progressBar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="rounded-lg border border-gray-200 bg-white py-5 shadow dark:border-none dark:bg-night-700 dark:shadow-none">
    <table class="responsive-table">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{ header }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of myApplication">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.application_status?.verification_type?.Name }}</td>
          <td>{{ item.application_status?.current_status }}</td>
          <td>{{ item.mobile_number }}</td>
          <td>
            <button (click)="NavigateToo(item.id)"
              class="cursor-pointer rounded-lg bg-green-500 py-2 px-4 text-white hover:bg-green-800">
              View
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <p-table [value]="Tabledata" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Status</th>
          <th>Date</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-Tabledata let-columns="columns">
        <tr>
          <td>{{ Tabledata.code }}</td>
          <td>{{ Tabledata.name }}</td>
          <td>{{ Tabledata.Category }}</td>
          <td>{{ Tabledata.status }}</td>
          <td>{{ Tabledata.date }}</td>
          <td>
            <button class="cursor-pointer rounded-lg bg-green-500 py-2 px-4 text-white hover:bg-green-800">View</button>
          </td>
        </tr>
      </ng-template>
    </p-table> -->

    <div class="mt-2 mr-16 flex cursor-pointer flex-row justify-end">
      <p (click)="NavigateTo('/layout/controller-dashboard/application-listing')" class="text-gray-500 hover:underline">
        View All
      </p>
    </div>
  </div>
</div>