:host ::ng-deep {
  .p-progressbar.p-component.p-progressbar-determinate {
    height: 10px;
  }
}
::ng-deep .ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000; /* Adjust the z-index value as needed */
}
.custom-list {
  list-style: none;
  padding: 0;
}

.custom-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.custom-list li:last-child {
  border-bottom: none;
}

.label {
  flex: 1; /* Distributes available space equally */
  margin-right: 10px; /* Adjust as needed for spacing */
  text-align: left;
}

.count {
  flex: 1; /* Distributes available space equally */
  margin-left: 10px; /* Adjust as needed for spacing */
  text-align: right;
}
