<p-toast></p-toast>
<div class="px-10 py-10">
  <div class="mb-3 text-xl font-semibold text-black">Applications</div>

  <div class="item-end mb-3 flex flex-row justify-end">
    <div class="button-container">
      <button class="addCommentButton" (click)="addComment()">Add Comment</button>
      <button class="approveButton" (click)="approve()">Approve</button>
      <button
        class="approveButton"
        (click)="reject(); showError2('Application Rejected', 'Application is Rejected and Forward to User.')">
        Reject
      </button>
    </div>
  </div>

  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-4">
      <div class="flex flex-col gap-5">
        <div class="rounded-xl border-gray-200 bg-white p-[2rem]">
          <div class="flex flex-col">
            <img
              class="h-[100px] w-[100px]"
              src="https://flowbite.com/application-ui/demo/images/users/jese-leos-2x.png"
              alt="" />
            <h2 class="mt-4 font-bold">Talha</h2>
            <p><i class="pi-map-marker pi" style="color: slateblue"></i> Islamabad Pakistan</p>
            <p class="mt-2 text-[#6b7280]">Email address</p>
            <p class="text-sm">'user"&#64;".com'</p>
            <p class="mt-2 text-[#6b7280]">Home address</p>
            <p class="text-sm">Street 2 I9 Islamabad</p>
            <p class="mt-2 text-[#6b7280]">Phone number</p>
            <p class="text-sm">+00 123 456 789 / +12 345 678</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-7">
      <div class="flex flex-col gap-5">
        <div class="rounded-xl border-gray-200 bg-white p-[2rem]">
          <div class="font-bold">Hotel Registration</div>
          <div class="my-3">
            <p class="mt-2 text-[#6b7280]">Hotel Name</p>
            <p class="text-sm">Red Palace</p>
            <p class="mt-2 text-[#6b7280]">Address</p>
            <p class="text-sm">Street 2 I9 Islamabad</p>
            <p class="mt-2 text-[#6b7280]">Owner Name</p>
            <p class="text-sm">Talha</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-5">
        <div class="rounded-xl border-gray-200 bg-white p-[2rem]">
          <div class="font-bold">Verified Documents</div>
          <p-tag [style]="{ background: 'linear-gradient(-225deg,#AC32E4 0%,#7918F2 48%,#4801FF 100%)' }">
            <div class="align-items-center flex gap-2">
              <span class="text-base">Building Plan of Hotel or Restaurant.</span>
            </div>
          </p-tag>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="my-5 text-xl font-semibold text-black">Submitted Documents by User:</div>

    <div class="my-3 text-xs text-red-500">Click on each document to View.</div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4">
      <!-- Column 1 -->
      <div class="relative rounded bg-white p-4 shadow-md transition duration-300 hover:shadow-lg">
        <div class="mb-2 text-center text-lg font-medium text-[#9095a0]">CNIC</div>
        <div class="flex flex-row justify-center">
          <img
            (click)="OpenDialog('CNIC', '../../../../assets/images/cnic.jpeg')"
            src="../../../../assets/images/cnic.jpeg"
            alt="Image 1"
            class="h-[300px] w-[300px] cursor-pointer" />
        </div>
        <div class="mt-4 flex items-center justify-center">
          <button (click)="showSuccess('Documents Approved', 'You approved user CNIC')" class="btn-approve rounded">
            Approve
          </button>
          <button (click)="showError('CNIC Rejected')" class="btn-reject rounded">Reject</button>
        </div>
      </div>

      <!-- Column 2 -->
      <div class="relative rounded bg-white p-4 shadow-md transition duration-300 hover:shadow-lg">
        <div class="mb-2 text-center text-lg font-medium text-[#9095a0]">Police Verification Certificate</div>
        <div class="flex flex-row justify-center">
          <img
            (click)="
              OpenDialog(
                'Police Verification Certificate',
                '../../../../assets/images/Police-Character-Certificate-for-Romania.png'
              )
            "
            src="../../../../assets/images/Police-Character-Certificate-for-Romania.png"
            alt="Image 1"
            class="h-[300px] w-[300px] cursor-pointer" />
        </div>
        <div class="mt-4 flex items-center justify-center">
          <button
            (click)="showSuccess('Documents Approved', 'You approved user Police Verification Certificate')"
            class="btn-approve rounded">
            Approve
          </button>
          <button (click)="showError('Police Verification Certificate Rejected')" class="btn-reject rounded">
            Reject
          </button>
        </div>
      </div>

      <!-- Column 3 -->
      <div class="relative rounded bg-white p-4 shadow-md transition duration-300 hover:shadow-lg">
        <div class="mb-2 text-center text-lg font-medium text-[#9095a0]">Building Plan of Hotel or Restaurant</div>
        <div class="flex flex-row justify-center">
          <img
            (click)="OpenDialog('Building Plan of Hotel or Restaurant', '../../../../assets/images/Untitled.jpeg')"
            src="../../../../assets/images/Untitled.jpeg"
            alt="Image 1"
            class="h-[300px] w-[300px] cursor-pointer" />
        </div>
        <div class="mt-4 flex items-center justify-center">
          <button
            (click)="showSuccess('Documents Approved', 'You approved user Building Plan of Hotel or Restaurant')"
            class="btn-approve rounded">
            Approve
          </button>
          <button (click)="showError('Building Plan of Hotel or Restaurant')" class="btn-reject rounded">Reject</button>
        </div>
      </div>

      <!-- Column 4 -->

      <!-- Content for Column 4 -->
      <div class="relative rounded bg-white p-4 shadow-md transition duration-300 hover:shadow-lg">
        <div class="mb-2 text-center text-lg font-medium text-[#9095a0]">
          Room rates /copy of Menu Card or rate list.
        </div>
        <div class="flex flex-row justify-center">
          <img
            (click)="OpenDialog('Room rates /copy of Menu Card or rate list.', '../../../../assets/images/sss.jpeg')"
            src="../../../../assets/images/sss.jpeg"
            alt="Image 1"
            class="h-[300px] w-[300px] cursor-pointer" />
        </div>
        <div class="mt-4 flex items-center justify-center">
          <button
            (click)="showSuccess('Documents Approved', 'You approved user Room rates /copy of Menu Card or rate list.')"
            class="btn-approve rounded">
            Approve
          </button>
          <button (click)="showError('Police Verification Certificate Rejected')" class="btn-reject rounded">
            Reject
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="my-5 text-xl font-semibold text-black">Submitted Documents by Inspector:</div>
    <div>
      <p>No Documents Submitted by Inspector yet.</p>
    </div>
  </div>
  <!-- <div>
    <div class="my-5 text-xl font-semibold text-black">Upload Files Here</div>
    <input type="file" (change)="onFileChange($event)" multiple />
    <div *ngFor="let image of uploadedImages; let i = index">
      <span
        class="inline-block h-[50px] w-[50px] rounded-full border bg-green-500 hover:bg-green-700"
        (click)="removeImage(i)"
        >x</span
      >

      <img class="w-[500px]" [src]="image.url" alt="Uploaded Image" />
    </div>
  </div> -->
</div>

<p-dialog
  [(visible)]="DocumentDialog"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false">
  <div>
    <div class="mb-2 text-center text-xl font-medium text-[#9095a0]">CNIC</div>
    <div class="flex flex-row justify-center">
      <img class="h-1/2 w-1/2" src="{{ docpath }}" />
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="addCommentDialog"
  header="Add Comment to Application"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false">
  <div>
    <div class="card justify-content-center flex">
      <textarea pKeyFilter="int" rows="5" cols="30" pInputTextarea></textarea>
    </div>
    <div class="item-end mb-3 flex flex-row justify-end">
      <div class="button-container">
        <button class="addCommentButton" (click)="addComment()">Forward to User</button>
        <button class="approveButton">Forward to Inspector</button>
        <button class="approveButton">Forward to Controller</button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  [(visible)]="approvedialogbox"
  header="Approve Applications"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false">
  <div>
    <div class="card justify-content-center flex">
      <p>Do you want to approve this applications and generate challan for this applcaiton.</p>
    </div>
    <div class="item-end mb-3 flex flex-row justify-end">
      <div class="button-container">
        <button
          class="approveButton"
          (click)="approve(); showSuccess('Application Approved', 'User Application Approved and Challan Generated')">
          Approve
        </button>
        <button class="approveButton" (click)="approvedialogbox = false">Cancel</button>
      </div>
    </div>
  </div>
</p-dialog>
