<p-toast></p-toast>

<div class="px-10 py-10">
  <div class="text-xl font-semibold text-black">Tourist Guide Registration Form</div>

  <!-- Add this step indicator section to your template -->
  <div class="step-indicator">
    <div class="step">
      <div class="step-circle" [class.active]="currentStep === 1">1</div>
    </div>
    <div class="step-line w-[20px]"></div>
    <div class="step">
      <div class="step-circle" [class.active]="currentStep === 2">2</div>
    </div>
  </div>

  <div class="grid">
    <form *ngIf="currentStep === 1" [formGroup]="step1Form">
      <div>
        <h2 class="mt-4 text-lg font-normal">Name:</h2>
        <div class="form-group grid-col-12 grid px-5">
          <div class="col-span-12">
            <label class="text-base" for="name">Name:</label>
            <input type="text" id="name" formControlName="name" />
            <div class="text-sm text-red-600"
              *ngIf="step1Form.get('name')?.hasError('required') && step1Form.get('name')?.touched">
              Name is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">Address</h2>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="form-group col-span-6">
            <label for="province">Business address <span class="text-sm">(If any registered address)</span></label>
            <input type="text" id="province" formControlName="BusinessAddress" />
          </div>
          <div class="form-group col-span-6">
            <label for="town">Residential Address:</label>
            <input type="text" id="town" formControlName="ResidentialAddress" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('ResidentialAddress')?.hasError('required') &&
                step1Form.get('ResidentialAddress')?.touched
              ">
              Residential Address is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">Telephone number</h2>
        <div class="form-group grid grid-cols-12 gap-5 px-5">
          <div class="form-group col-span-4 my-2">
            <label for="TelegraphicNumber">Telegraphic Address</label>
            <input type="text" id="TelegraphicNumber" formControlName="TelegraphicNumber" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('TelegraphicNumber')?.hasError('required') && step1Form.get('TelegraphicNumber')?.touched
              ">
              Telegraphic Address is required.
            </div>
          </div>
          <div class="form-group col-span-4 my-2">
            <label for="TelephoneNumberLines">Telephone Number Lines</label>
            <input type="text" id="TelephoneNumberLines" formControlName="TelephoneNumberLines" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('TelephoneNumberLines')?.hasError('required') &&
                step1Form.get('TelephoneNumberLines')?.touched
              ">
              Telephone number lines is required.
            </div>
          </div>
          <div class="form-group col-span-4 my-2">
            <label for="TelephoneNumber">Telephone Number(if any)</label>
            <input type="text" id="TelephoneNumber" formControlName="TelephoneNumber" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('TelephoneNumber')?.hasError('required') && step1Form.get('TelephoneNumber')?.touched
              ">
              Telephone number is required.
            </div>
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">Qualification</h2>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="col-span-4 my-2">
            <div class="form-group">
              <label for="EducationalQualifications">Educational Qualification Highest</label>
              <input type="text" id="EducationalQualifications" formControlName="EducationalQualifications" />
              <div class="text-sm text-red-600" *ngIf="
                  step1Form.get('EducationalQualifications')?.hasError('required') &&
                  step1Form.get('EducationalQualifications')?.touched
                ">
                Educational qualifications is required.
              </div>
            </div>
          </div>
          <div class="form-group col-span-4 my-2">
            <label for="ExpAsTouristGuide">Experience of Tourist Guide in Years</label>
            <input type="text" id="ExpAsTouristGuide" formControlName="ExpAsTouristGuide" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('ExpAsTouristGuide')?.hasError('required') && step1Form.get('ExpAsTouristGuide')?.touched
              ">
              Experience as tourist guide is required.
            </div>
          </div>
          <div class="form-group col-span-4 my-2">
            <label for="ForiegnLanguage">Knowledge of foriegn languages</label>
            <input type="text" id="ForiegnLanguage" placeholder="Urdu English German French"
              formControlName="ForiegnLanguage" />
            <div class="text-sm text-red-600" *ngIf="
                step1Form.get('ForiegnLanguage')?.hasError('required') && step1Form.get('ForiegnLanguage')?.touched
              ">
              Knowledge of foriegn languages is required.
            </div>
          </div>

          <div class="form-group col-span-4 my-2">
            <label for="Trainings">Training (if any)</label>
            <input type="text" id="Trainings" formControlName="Trainings" />
          </div>
        </div>

        <div class="place-item-end mr-[10%] flex justify-end gap-5">
          <button (click)="nextStep()"
            class="mt-5 items-end rounded-sm border-none bg-[#22c55e] px-10 py-3 text-white hover:bg-[#8ebc9f]"
            type="submit">
            Next
          </button>
        </div>
      </div>
    </form>

    <form *ngIf="currentStep === 2" [formGroup]="step2Form" (ngSubmit)="onSubmit()">
      <div>
        <h2 class="mt-4 text-lg font-normal">Bank Details</h2>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="col-span-4 my-2">
            <label for="BankerName">Name of Banker <span class="text-sm">(Please attach refrence from
                Bank)</span>:</label>
            <input type="text" id="BankerName" formControlName="BankerName" />
            <div class="text-sm text-red-600"
              *ngIf="step2Form.get('BankerName')?.hasError('required') && step2Form.get('BankerName')?.touched">
              Name of Banker is required.
            </div>
          </div>
          <div class="col-span-4 my-2">
            <!-- <input
              type="file"
              id="BankerImage"
              formControlName="BankerImage"
              (change)="onImageChange1($event, 'BankerImage')" />
            <div *ngIf="step2Form.get('BankerImage')?.hasError('validImage')" class="text-danger">
              Invalid image format. Supported formats: jpg, jpeg, png, gif.
            </div> -->
            <label for="BankerImage">Banker Image:</label><br />
            <button *ngIf="BankerImagePath" class="bg-red rounded-full p-3 font-extrabold"
              (click)="removeImage('BankerImage')">
              x
            </button>
            <img *ngIf="BankerImagePath" [src]="convertImageUrl(BankerImagePath)" alt="CNIC Front Image" width="200"
              height="200" />
            <input type="file" id="BankerImage" formControlName="BankerImage"
              (change)="onImageChange1($event, 'BankerImage')" />
            >
            <!-- <div *ngIf="step2Form.get('cnicBackAttachment')?.hasError('validImage')" class="text-danger">
                        Invalid image format. Supported formats: jpg, jpeg, png, gif.
                      </div> -->
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">Auditors details (if any)</h2>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="col-span-6">
            <label for="AuditorsAddress"> Name of Auditor</label>
            <input type="text" id="AuditorsAddress" formControlName="AuditorsName" />
          </div>
          <div class="col-span-6">
            <label for="AuditorsName"> Address of Auditor</label>
            <input type="text" id="AuditorsName" formControlName="AuditorsAddress" />
          </div>
        </div>
      </div>

      <!-- Form Group name -->
      <div>
        <h2 class="mt-4 text-lg font-normal">Number of Staff with their roles</h2>
        <div class="col-span-12 px-5">
          <textarea formControlName="NumberofStaff" cols="4"></textarea>
        </div>
      </div>

      <div formArrayName="employees">
        <div *ngFor="let employee of employees.controls; let i = index">
          <div [formGroupName]="i" class="grid grid-cols-12 gap-5">
            <div class="col-span-3 my-2">
              <label for="name">Name</label>
              <input type="text" formControlName="name" />
            </div>
            <div class="col-span-3 my-2">
              <label for="name">Employment Status</label>
              <input type="text" formControlName="employmentStatus" />
            </div>
            <div class="col-span-2 my-2">
              <label for="name">Experience</label>
              <input type="text" formControlName="experience" />
            </div>
            <div class="col-span-2 my-2">
              <label for="name">Qualification highest degree</label>
              <input type="text" formControlName="qualification" />
              <!-- Add other fields: employmentStatus, qualification, experience -->
            </div>
            <div class="col-span-2 my-2">
              <button class="rounded-sm border bg-green-400 px-5 py-3 hover:bg-white" type="button"
                (click)="removeEmployee(i)">
                Remove
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="my-3 flex flex-row items-end justify-end">
        <button class="rounded-sm border bg-green-400 px-5 py-3 text-sm hover:bg-white" type="button"
          (click)="addEmployee()">
          Add Staff/Employee Details.
        </button>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">
          Capital Invested
          <span class="text-sm">(Please indicate clearly the paid up capital and enclose certificate of appropriate
            authority in support of
            your statment.)</span>
        </h2>
        <div class="col-span-12 px-5">
          <textarea formControlName="CapitalInvested" cols="4"></textarea>
          <div class="text-sm text-red-600"
            *ngIf="step2Form.get('CapitalInvested')?.hasError('required') && step2Form.get('CapitalInvested')?.touched">
            Capital Invested is required.
          </div>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">
          Whether any other is activities are proposed to be undertaken if so, in what fields.
        </h2>
        <div class="col-span-12 px-5">
          <textarea formControlName="OtherActivitiesunderTaken" cols="4"></textarea>
        </div>
      </div>
      <div>
        <h2 class="mt-4 text-lg font-normal">
          Please state if you or your partner, if anyone has been convicted of an offence, if so please give details.
        </h2>
        <div class="col-span-12 px-5">
          <textarea formControlName="partner_details" cols="4"></textarea>
        </div>
      </div>

      <div>
        <h2 class="mt-4 text-lg font-normal">Documents</h2>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="col-span-4 my-2">
            <label for="cnicFrontAttachment">Upload CNIC Front Image:</label><br />
            <!-- {{ convertImageUrl(cnicFrontAttachmentPath) }} -->
            <button *ngIf="cnicFrontAttachmentPath" class="bg-red p-3 font-extrabold"
              (click)="removeImage('cnicFrontAttachment')">
              x
            </button>
            <img *ngIf="cnicFrontAttachmentPath" [src]="cnicFrontAttachmentPath" alt="CNIC Front Image" width="200"
              height="200" />
            <input *ngIf="!cnicFrontAttachmentPath" type="file" id="cnicFrontAttachment"
              (change)="onImageChange1($event, 'cnicFrontAttachment')" />
            <!-- <div *ngIf="step2Form.get('cnicFrontAttachment')?.hasError('validImage')" class="text-danger">
              Invalid image format. Supported formats: jpg, jpeg, png, gif.
            </div> -->
          </div>
          <div class="col-span-4 my-2">
            <label for="cnicBackAttachment">Upload CNIC Back Image:</label><br />
            <button *ngIf="cnicBackAttachmentPath" class="bg-red p-3 font-extrabold"
              (click)="removeImage('cnicBackAttachment')">
              x
            </button>
            <img *ngIf="cnicBackAttachmentPath" [src]="cnicBackAttachmentPath" alt="CNIC Front Image" width="200"
              height="200" />
            <input *ngIf="!cnicBackAttachmentPath" type="file" id="cnicBackAttachment"
              (change)="onImageChange1($event, 'cnicBackAttachment')" />
          </div>

          <div class="col-span-4 my-2">
            <label for="metricAttachment">Upload Matric Degree:</label><br />
            <button *ngIf="metricAttachmentPath" class="bg-red p-3 font-extrabold"
              (click)="removeImage('metricAttachment')">
              x
            </button>
            <img *ngIf="metricAttachmentPath" [src]="metricAttachmentPath" alt="CNIC Front Image" width="200"
              height="200" />
            <input *ngIf="!metricAttachmentPath" type="file" id="metricAttachment"
              (change)="onImageChange1($event, 'metricAttachment')" />
          </div>
        </div>
        <div class="grid grid-cols-12 gap-5 px-5">
          <div class="col-span-4 my-2">
            <label for="fscAttachment">Upload FSc Degree:</label><br />
            <button *ngIf="fscAttachmentPath" class="bg-red p-3 font-extrabold" (click)="removeImage('fscAttachment')">
              x
            </button>
            <img *ngIf="fscAttachmentPath" [src]="fscAttachmentPath" alt="CNIC Front Image" width="200" height="200" />
            <input *ngIf="!fscAttachmentPath" type="file" id="fscAttachment"
              (change)="onImageChange1($event, 'fscAttachment')" />
          </div>
          <div class="col-span-4 my-2">
            <label for="experienceAttachment">Upload Experience Certificate:</label><br />
            <button *ngIf="experienceAttachmentPath" class="bg-red rounded-full p-3 font-extrabold"
              (click)="removeImage('experienceAttachment')">
              x
            </button>
            <img *ngIf="experienceAttachmentPath" [src]="experienceAttachmentPath" alt="CNIC Front Image" width="200"
              height="200" />
            <input type="file" *ngIf="!experienceAttachmentPath" id="experienceAttachment"
              formControlName="experienceAttachment" (change)="onImageChange1($event, 'experienceAttachment')" />
            >
            <!-- <div *ngIf="step2Form.get('cnicBackAttachment')?.hasError('validImage')" class="text-danger">
                      Invalid image format. Supported formats: jpg, jpeg, png, gif.
                    </div> -->
          </div>
        </div>
      </div>

      <div class="mt-4 flex flex-col">
        <div class="flex flex-row gap-5">
          <label class="custom-checkbox">
            <input type="checkbox" formControlName="isCheckeddetialsCorrect" />
            <span class="checkmark"></span>
          </label>

          <h2 class="ml-[13px] text-lg font-normal">
            I/we hereby solemnly declare that all the particulars give above are correct.
          </h2>
        </div>
        <div class="text-sm text-red-600" *ngIf="
            step2Form.get('isCheckeddetialsCorrect')?.hasError('required') &&
            step2Form.get('isCheckeddetialsCorrect')?.touched
          ">
          Check is required.
        </div>
      </div>

      <div class="mt-4 flex flex-col">
        <div class="mt-4 flex flex-row gap-5">
          <label class="custom-checkbox">
            <input type="checkbox" formControlName="isCheckedAccpet" />
            <span class="checkmark"></span>
          </label>

          <h2 class="ml-[13px] text-lg font-normal">
            I/we hereby solemnly declare that if a licence is granted to me.us, I.we will abide by the Pakistan Tourist
            Guides, Act 1976 and Rules made the re-under.
          </h2>
        </div>
        <div class="text-sm text-red-600"
          *ngIf="step2Form.get('isCheckedAccpet')?.hasError('required') && step2Form.get('isCheckedAccpet')?.touched">
          Declaration is required.
        </div>
      </div>
      <div class="place-item-end mr-[10%] ml-[10%] flex items-center justify-end gap-5 px-5">
        <button (click)="prevStep()"
          class="mt-5 items-end rounded-sm border-none bg-[#22c55e] px-10 py-3 text-white hover:bg-[#8ebc9f]"
          type="submit">
          Back
        </button>
        <button class="mt-5 items-end rounded-sm border-none bg-[#22c55e] px-10 py-3 text-white hover:bg-[#8ebc9f]"
          type="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>