.addCommentButton,
.approveButton {
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #22c55e; /* Blue border */
  background-color: #22c55e; /* Blue background */
  color: white; /* White text */
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hover effect for Add Comment button */
.addCommentButton:hover {
  background-color: white;
  color: #22c55e;
}

/* Hover effect for Approve button */
.approveButton:hover {
  background-color: white;
  color: #22c55e;
  border-color: #22c55e;
}
